@use "../../../scss/_variables" as *;
#wrap {
  #section1Component {
    width: 100%;
    height: 100vh;
    background: url(../../../../../public/img/hero_bg.jpg) center;
    .inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $primary-color;
      .heading-container {
        position: relative;
        .heading {
          width: 100%;
          display: flex;
          margin-bottom: -30px;
          position: relative;
          span {
            font-size: 190px;
            font-weight: 600;
            &.culture {
            }
            &.leads {
            }
            &.charm {
            }
            &.follow {
            }
          }
          &.heading1 {
            z-index: 2;
            justify-content: space-between;
            position: relative;
            .notice {
              position: absolute;
              top: 100%;
              left: 0;
              color: $grey3;
              font-size: $small;
            }
          }
          &.heading2 {
            z-index: 2;
            justify-content: center;
          }
          &.heading3 {
            justify-content: flex-end;
            position: relative;
            left: -20%;
            z-index: 4;
          }
        }
        .pic {
          position: absolute;
          background: $grey3;
          padding: 10px;
          padding-bottom: 50px;
          transition: 1s ease-out;
          box-shadow: 10% 10% 10px 15px rgba($color: #000000, $alpha: 0.3);
          border: 2px solid $grey1;
          .view-box {
            aspect-ratio: 1/1;
            width: 275px;
            overflow: hidden;
            .wrapper {
              position: relative;
              top: 0%;
              transition: 0.8s;
              .img-container {
                height: 275px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                &:first-child {
                  position: relative;
                }
              }
            }
          }
          &.pic1 {
            z-index: 1;
            top: -10%;
            left: 35%;
            transform: translate(var(--x, 0px), var(--y, 0px)) rotate(-10deg);
          }
          &.pic2 {
            z-index: 3;
            top: 30%;
            right: 15%;
            transform: translate(var(--x, 0px), var(--y, 0px)) rotate(16deg);
          }
        }
      }
      p {
        margin-top: 60px;
        text-align: center;
        font-size: $size4;
      }
    }
  }
}
