@use "../../../scss/variables.scss" as *;
#wrap {
  #main {
    #section6Component {
      .inner {
        display: flex;
        justify-content: space-between;
        $width: (100% /2.8);
        .left {
          width: $width;
          h2 {
            font-size: $size3;
            font-weight: 600;
            .line {
              width: 210px;
              height: 3px;
              background: $grey1;
              display: inline-block;
            }
          }
          p {
            font-size: $size4;
            font-weight: 600;
            margin-bottom: 2rem;
          }
          dl {
            dt {
              font-size: $size4 * 0.9;
              font-weight: 600;
              margin-bottom: 8px;
            }
            dd {
              margin-bottom: 4px;
              line-height: 1.3;
            }
          }
        }
        .right {
          // flex-grow: 1;
          width: $width;
          form {
            ul {
              margin-bottom: 15px;
              li {
                p {
                  margin-bottom: 10px;
                  font-weight: 600;
                }
                input[type="text"] {
                  border: 0;
                  border-bottom: 1px solid $grey1;
                  width: 100%;
                  padding: 5px;
                  font-family: $font1;
                  &:focus {
                    outline: none;
                  }
                }
                &:not(:last-child) {
                  margin-bottom: 10px;
                }
              }
            }
            button {
              display: block;
              width: 100%;
              padding-block: 15px;
              margin-bottom: 10px;
              color: #fff;
              font-weight: 600;
              background: $primary-color;
              border: 0;
              border-radius: $border-radius;
            }
            .chk {
              display: flex;
              align-items: center;
              column-gap: 5px;
              input[type="checkbox"] {
                font-family: $font1;
              }
              p {
                font-size: $small;
              }
            }
          }
        }
      }
    }
  }
}
