@use "../../../scss/_variables" as *;
#wrap {
  #main {
    #section2Component {
      padding-top: $section-top;
      .inner {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            padding-left: 22px;
            border-left: 2px solid $grey1;
            p {
              text-align: center;
              &.number {
                font-family: $font2;
                font-size: $size2;
              }
              &.text {
                font-size: $size4;
              }
            }
          }
        }
      }
      @media all and (max-width: 1750px) {
        .inner {
          padding-inline: 5vw;
        }
      }
      @media all and (max-width: 570px) {
        .inner {
          ul {
            flex-direction: column;
            li {
              border: 0;
              padding-left: 0;
              padding-block: 22px;
              width: 100%;
              border-bottom: 2px solid $grey1;
            }
          }
        }
      }
    }
  }
}
