@use "../../../../scss/variables" as *;
#sub02ShopDetail {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;

  #wrap {
    width: 100%;
    height: auto;
    background: $white;
    min-height: 100vh;
    > .title {
      width: 100%;
      padding: 30px 0;
      height: auto;
      display: flex;
      align-items: center;
      background: $sub-color1;
      border-bottom: 1px solid $white;
      a {
        width: 100%;
        max-width: 1750px;
        margin: 0 auto;
        h2 {
          color: $sub-color1;
          font-size: $size3;
          font-family: $font2;
          font-weight: 700;
          color: $white;
        }
      }
    }
    .content {
      width: 100%;
      max-width: 1750px;
      margin: 0 auto;
      height: auto;

      .category-name {
        width: 100%;
        background-color: $white;

        ul {
          display: flex;
          justify-content: center;
          padding: 30px 0;
          li {
            margin: 0 20px;

            a {
              transition: all 0.3s;
              span {
                font-size: $size4;
                font-family: $font1;

                &:hover {
                  border-bottom: 2px solid $sub-color1;
                }

                &.on {
                  border-bottom: 2px solid $sub-color1;
                }
              }
            }
          }
        }
      }
      .detail {
        width: 100%;
        .top {
          width: 100%;
          display: flex;
          border-bottom: 1px solid $sub-color1;
          .left {
            width: 50%;
            height: 100%;
            .img-box {
              width: 100%;
              .gap {
                width: 100%;
                height: 100%;
                padding: 30px;
                text-align: right;
                img {
                  width: 100%;
                  max-width: 600px;
                  object-fit: cover;
                  aspect-ratio: 1/ 1;
                }
              }
            }
          }
          .right {
            width: 50%;
            display: flex;
            align-items: center;
            ul {
              width: 100%;
              padding-right: 45%;
              text-align: right;
              li {
                &:nth-child(1) {
                  padding-bottom: 40px;
                  h2 {
                    // 상품명
                    font-family: $font1;
                    font-size: 2.5rem;
                    font-weight: 700;
                  }
                }
                &:nth-child(2) {
                  padding-bottom: 30px;
                  em {
                    //가격
                    font-size: $size4;
                    font-weight: 600;
                  }
                }
                &:nth-child(3) {
                  padding-bottom: 2%;
                  p {
                    // 수량
                    font-size: $small;
                  }
                  .quantity-selector {
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .selector-box {
                      border: 1px solid #ddd;
                      height: 30px;
                      button {
                        height: 100%;
                        background: #fff;
                        border: none;
                        i {
                          font-size: $size4;
                          color: #999;
                        }
                      }
                      input {
                        width: 50px;
                        height: 100%;
                        font-size: $size4;
                        text-align: center;
                        font-size: 1rem;
                        background: #fff;
                        border: none;

                        /* 스핀 버튼 제거 */
                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                          -webkit-appearance: none;
                          margin: 0;
                        }
                      }
                    }
                  }
                }
                &:nth-child(4) {
                  padding: 3% 0;

                  select {
                    width: 260px;
                    height: 30px;
                    padding-left: 15px;
                    border: 1px solid #ccc;
                    option {
                      text-align: left;
                      padding-right: 15px;
                      color: #999;
                    }
                  }
                }

                &.cart-wish {
                  padding-bottom: 10px;
                  display: flex;
                  justify-content: flex-end;
                  .add-cart {
                    width: 200px;
                    height: 50px;
                    background-color: $black;

                    a {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      height: 100%;
                      padding: 0 1%;
                      font-size: 1.3rem;
                      color: $white;
                      transition: all 0.3s;
                      border: 1px solid $black;
                      &:hover {
                        background-color: $white;
                        color: $black;
                      }
                    }
                  }
                  .add-wish {
                    margin-left: 10px;
                    border: 1px solid $black;
                    width: 50px;
                    height: 50px;
                    a {
                      aspect-ratio: 1 / 1;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      padding: 0 13px;
                      transition: all 0.3s;
                      i {
                        font-size: $size4;
                        color: $black;
                      }
                      &:hover {
                        background-color: $black;
                        i {
                          color: $white;
                        }
                      }
                    }
                  }
                }
                &.buy-now {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: flex-end;

                  a {
                    width: 260px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3rem;
                    border: 1px solid $sub-color2;
                    background-color: $sub-color2;
                    color: $white;
                    transition: all 0.3s;
                    &:hover {
                      background-color: $white;
                      color: $sub-color2;
                    }
                  }
                }
              }
            }
          }
        }
        .bottom {
          width: 100%;
          padding: 8% 0;
          .description {
            width: auto;
            margin: 0 10%;
            padding-bottom: 1%;
            h3 {
              color: $sub-color2;
              display: inline-block;
              text-align: center;
              padding: 2% 0 0.5% 0;
              font-size: 1.5rem;
              // border-bottom: 1px solid $sub-color2;
            }
            p {
              width: auto;
              line-height: 200%;
              padding: 1.5% 0 1.5% 1%;
              font-size: 1.2rem;
              border-bottom: 1px solid #ccc;
              &:last-child {
                border: 0;
              }
            }
            .img-box {
              width: 100%;
              max-width: 1750px;
              padding-top: 7.5%;
              gap: 10px;
              text-align: center;
              overflow: hidden;

              img {
                margin: 5px;
                border: 1px solid $sub-color1;
                flex: 1;
                width: 100%;
                height: auto;
                object-fit: cover;
                max-width: calc((100% - 20px) / 3);
                box-shadow: 2px 2px 2px $sub-color1;
                transition: all 0.3s;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
        .delivery-box {
          > ul {
            width: auto;
            margin: 0 10%;
            padding-bottom: 1%;

            > li {
              width: 100%;

              // 제목 줄
              .delivery-title {
                width: 100%;
                color: $sub-color2;
                padding: 2% 0 0.5% 0;
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                // 제목
                h3 {
                  font-size: $size4;
                  text-indent: 5px;
                  width: auto;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  font-weight: 500;
                  font-size: 1.5rem;
                }
                // 아이콘
                .icon {
                  text-align: center;
                  width: 40px;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  i {
                    width: 100%;
                    transition: all 0.3s;
                  }
                }
              }

              .content {
                width: 100%;
                padding: 10px 0;

                p {
                  padding: 1% 0 1% 1%;
                  line-height: 200%;
                  font-size: 1.2rem;
                  word-break: keep-all;
                  overflow-wrap: anywhere;
                  border-bottom: 1px solid #ddd;
                  a {
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                      color: $sub-color2;
                    }
                  }
                }
              }

              &.plus {
                .delivery-title {
                  cursor: pointer;
                  padding: 1% 0;
                  border-bottom: 1px solid $grey3;
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1770px) {
    #wrap {
      .title {
        a {
          h2 {
            padding-left: 20px;
          }
        }
      }
      .content {
        padding-left: 20px;
      }
    }
  }
  @media all and (max-width: 1200px) {
    #wrap {
      .content {
        .detail {
          .top {
            .right {
              ul {
                padding-right: 30%;
                li {
                  &:nth-child(1) {
                    h2 {
                      // 상품명

                      font-size: 2rem;
                    }
                  }
                  &:nth-child(2) {
                    em {
                      //가격
                      font-size: 1.5rem;
                    }
                  }

                  &.cart-wish {
                    .add-cart {
                      a {
                        font-size: 1.1rem;
                      }
                    }
                  }
                  &.buy-now {
                    a {
                      font-size: 1.1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 865px) {
    #wrap {
      .content {
        .detail {
          .top {
            padding-bottom: 40px;
            display: flex;
            flex-flow: row wrap;
            .left {
              width: 100%;
              .img-box {
                .gap {
                  text-align: center;
                  img {
                    border: 1px solid $grey3;
                  }
                }
              }
            }
            .right {
              width: 100%;
              ul {
                padding-right: 0;
                text-align: center;
                display: flex;
                flex-flow: row wrap;
                li {
                  width: 100%;
                  &:nth-child(1) {
                    width: 100%;
                    padding-bottom: 15px;
                    h2 {
                      font-size: 2rem;
                    }
                  }
                  &:nth-child(2) {
                    width: 100%;
                    padding-bottom: 10px;
                    em {
                      font-size: 1.5rem;
                    }
                  }
                  &:nth-child(3) {
                    width: 100%;
                    padding-bottom: 0;
                    display: flex;

                    p {
                      width: 50%;
                      display: flex;
                      align-items: center;
                      justify-content: right;
                      padding-right: 30px;
                    }
                    .quantity-selector {
                      margin-left: 10px;
                      width: auto;
                      height: 40px;
                      .selector-box {
                        border: 1px solid #ddd;

                        button {
                          height: 100%;
                          background: #fff;
                          border: none;
                          i {
                            font-size: $size4;
                            color: #999;
                          }
                        }
                        input {
                          width: 50px;
                          height: 100%;
                          font-size: $size4;
                          text-align: center;
                          font-size: 1rem;
                          background: #fff;
                          border: none;

                          /* 스핀 버튼 제거 */
                          &::-webkit-inner-spin-button,
                          &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                          }
                        }
                      }
                    }
                  }
                  &:nth-child(4) {
                    width: 100%;
                    padding: 1% 0;
                  }

                  &.cart-wish {
                    width: 100%;
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    .add-cart {
                      width: 200px;
                      height: 50px;
                      background-color: $black;

                      a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding: 0 1%;
                        font-size: 1.1rem;
                        color: $white;
                        transition: all 0.3s;
                        border: 1px solid $black;
                        &:hover {
                          background-color: $white;
                          color: $black;
                        }
                      }
                    }
                    .add-wish {
                      margin-left: 10px;
                      border: 1px solid $black;
                      width: 50px;
                      height: 50px;
                      a {
                        aspect-ratio: 1 / 1;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0 13px;
                        transition: all 0.3s;
                        i {
                          font-size: $size4;
                          color: $black;
                        }
                        &:hover {
                          background-color: $black;
                          i {
                            color: $white;
                          }
                        }
                      }
                    }
                  }
                  &.buy-now {
                    justify-content: center;

                    a {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 630px) {
    #wrap {
      .title {
        a {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
      .content {
        .category-name {
          ul {
            padding-bottom: 10px;
            li {
              a {
                span {
                  font-size: $size4;
                }
              }
            }
          }
        }
        .detail {
          .delivery-box {
            > ul {
              > li {
                .delivery-title {
                  h3 {
                    font-size: 1.5rem;
                  }
                }
                .content {
                  p {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
