$size1: 6.5rem;
$size2: 4.5rem;
$size3: 3rem;
$size4: 1.8rem;
$small: 12px;
$primary-color: #5d3136;
$sub-color1: #23363f;
$sub-color2: #3a7773;
$sub-color3: #fff5f6;
$sub-color4: #ead3c1;
$black: #000000;
$grey1: #211c1c;
$grey2: #565050;
$grey3: #c6bdbd;
$white: #ffffff;
$border-radius: 13px;
$section-top: 150px;
$font1: "KOHI Nanum";
$font2: "TTLaundryGothicB";
$font3: "KyoboHandwriting2020A";
