@use "./variables" as *;
@mixin site() {
}
@mixin box() {
  .box {
    span {
      display: inline-block;
      padding: 6px;
      font-weight: 600;
      color: #fff;
      &:not(:last-child) {
        margin-right: 5px;
      }
      &.new {
        background: $primary-color;
      }
      &.sold-out {
        background: $sub-color1;
      }
    }
    @media all and (max-width: 580px) {
      span {
        font-size: $small;
      }
    }
    @media all and (max-width: 475px) {
      span {
        padding: 4px 3px;
      }
    }
  }
}
