@charset "UTF-8";
#sub07DeleteAccount {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
}
#sub07DeleteAccount .container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#sub07DeleteAccount .container .title {
  padding: 3% 0 5% 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#sub07DeleteAccount .container .title a {
  display: block;
}
#sub07DeleteAccount .container .title a h2 {
  font-size: 3rem;
  font-family: "TTHakgyoansimMulgyeolB";
  display: inline-block;
}
#sub07DeleteAccount .container .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#sub07DeleteAccount .container .content .right {
  width: calc(100% - 200px);
  position: relative;
  margin-bottom: 200px;
}
#sub07DeleteAccount .container .content .right .bg-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background: url(../../../../../../public/img/sub07/tape.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#sub07DeleteAccount .container .content .right .notice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#sub07DeleteAccount .container .content .right .notice ul {
  position: relative;
  border: 1px solid #5d3136;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 4/2;
  padding: 4% 8%;
  background: none;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#sub07DeleteAccount .container .content .right .notice ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../../../../public/img/sub07/tape.jpg") no-repeat 50% 65%;
  background-size: cover;
  z-index: 1;
}
#sub07DeleteAccount .container .content .right .notice ul li {
  position: relative;
  z-index: 2;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 2.5% 0;
}
#sub07DeleteAccount .container .content .right .notice ul li:nth-child(3) {
  padding-bottom: 4%;
}
#sub07DeleteAccount .container .content .right .notice ul li h3 {
  padding: 4% 0 5px 0;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  color: #5d3136;
  border-bottom: 2px solid #5d3136;
}
#sub07DeleteAccount .container .content .right .notice ul li p {
  width: 100%;
  line-height: 200%;
  margin-bottom: 1%;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
#sub07DeleteAccount .container .content .right .notice ul li p:nth-child(1) {
  --chars: 57;
  border-right: none;
  width: calc(var(--chars) * 1ch); /* 고정폭 */
  animation: typing 3s steps(var(--chars)) forwards;
}
#sub07DeleteAccount .container .content .right .notice ul li p:nth-child(2) {
  --chars: 60;
  width: calc(var(--chars) * 1ch);
  border-right: 0.12em solid #999;
  opacity: 0;
  animation: show 0s linear 3.2s forwards, typing 2s steps(var(--chars)) 3.2s forwards, blink 0.7s steps(1) infinite 5.2s; /* 타이핑 끝난 뒤 깜빡임 */
}
@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  } /* 오른쪽 전부 가림 */
  to {
    clip-path: inset(0 0 0 0);
  } /* 전부 표시 */
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
#sub07DeleteAccount .container .content .right .notice ul li button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.3s;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: "MaruBuri";
}
#sub07DeleteAccount .container .content .right .notice ul li button:first-child {
  margin-right: 30px;
  border: 1px solid #5d3136;
}
#sub07DeleteAccount .container .content .right .notice ul li button:first-child:hover {
  background-color: #c6bdbd;
}
#sub07DeleteAccount .container .content .right .notice ul li button:last-child {
  background-color: #5d3136;
  color: #ffffff;
}
#sub07DeleteAccount .container .content .right .notice ul li button:last-child:hover {
  background-color: #c6bdbd;
  color: #5d3136;
}
@media all and (max-width: 1540px) {
  #sub07DeleteAccount .container {
    padding: 0 20px;
  }
}
@media all and (max-width: 1200px) {
  #sub07DeleteAccount .container {
    padding: 0 20px;
  }
  #sub07DeleteAccount .container .content {
    width: 100%;
    height: 500px;
    display: flex;
  }
  #sub07DeleteAccount .container .content .menu {
    display: none;
  }
  #sub07DeleteAccount .container .content .right {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0 5%;
  }
}
@media all and (max-width: 960px) {
  #sub07DeleteAccount .container {
    padding: 0 20px;
  }
  #sub07DeleteAccount .container .title a h2 {
    font-size: 30px;
  }
  #sub07DeleteAccount .container .content {
    width: 100%;
    height: 500px;
    display: flex;
  }
  #sub07DeleteAccount .container .content .menu {
    display: none;
  }
  #sub07DeleteAccount .container .content .right {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0 5%;
  }
  #sub07DeleteAccount .container .content .right .notice ul li h3 {
    font-size: 18px;
  }
  #sub07DeleteAccount .container .content .right .notice ul li p {
    font-size: 14px;
    line-height: 160%;
  }
  #sub07DeleteAccount .container .content .right .notice ul li button {
    font-size: 18px;
    width: 180px;
    height: 40px;
  }
}
@media all and (max-width: 780px) {
  #sub07DeleteAccount .container {
    padding: 0 20px;
  }
  #sub07DeleteAccount .container .title a h2 {
    font-size: 30px;
  }
  #sub07DeleteAccount .container .content {
    width: 100%;
    height: 500px;
    display: flex;
  }
  #sub07DeleteAccount .container .content .menu {
    display: none;
  }
  #sub07DeleteAccount .container .content .right {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0 5%;
  }
  #sub07DeleteAccount .container .content .right .notice ul li h3 {
    font-size: 18px;
  }
  #sub07DeleteAccount .container .content .right .notice ul li p {
    font-size: 14px;
    line-height: 160%;
    animation: none !important;
    border-right: none !important;
    opacity: 1 !important;
    width: auto !important;
    white-space: wrap;
  }
  #sub07DeleteAccount .container .content .right .notice ul li button {
    font-size: 16px;
    width: 150px;
    height: 32px;
  }
  #sub07DeleteAccount .container .content .right .notice ul li button:first-child {
    margin-right: 16px;
  }
}
@media all and (max-width: 530px) {
  #sub07DeleteAccount .container {
    padding: 0 20px;
  }
  #sub07DeleteAccount .container .title a h2 {
    font-size: 24px;
  }
  #sub07DeleteAccount .container .content {
    width: 100%;
    height: 500px;
    display: flex;
  }
  #sub07DeleteAccount .container .content .menu {
    display: none;
  }
  #sub07DeleteAccount .container .content .right {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0 5%;
  }
  #sub07DeleteAccount .container .content .right .notice ul {
    aspect-ratio: 4/3;
  }
  #sub07DeleteAccount .container .content .right .notice ul li h3 {
    font-size: 18px;
  }
  #sub07DeleteAccount .container .content .right .notice ul li p {
    font-size: 14px;
    line-height: 160%;
    animation: none !important;
    border-right: none !important;
    opacity: 1 !important;
    width: auto !important;
    white-space: wrap;
  }
  #sub07DeleteAccount .container .content .right .notice ul li button {
    font-size: 14px;
    width: 140px;
    height: 28px;
  }
  #sub07DeleteAccount .container .content .right .notice ul li button:first-child {
    margin-right: 8px;
  }
}