#sub07AddressList {
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-bottom: 200px;
}
#sub07AddressList .container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#sub07AddressList .container .site {
  padding-top: 40px;
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
  color: #565050;
}
#sub07AddressList .container .site a.now {
  color: #23363f;
  font-weight: 600;
}
#sub07AddressList .container .title {
  padding: 3% 0 5% 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#sub07AddressList .container .title a {
  display: block;
}
#sub07AddressList .container .title a h2 {
  font-size: 3rem;
  font-family: "TTHakgyoansimMulgyeolB";
  display: inline-block;
}
#sub07AddressList .container .content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}
#sub07AddressList .container .content .menu {
  width: 200px;
  height: auto;
  margin: 0 5%;
}
#sub07AddressList .container .content .menu ul {
  width: 100%;
}
#sub07AddressList .container .content .menu ul li {
  width: 100%;
  padding: 4% 0;
  display: block;
}
#sub07AddressList .container .content .menu ul li.sub-title {
  border-top: 1px solid #ccc;
}
#sub07AddressList .container .content .menu ul li h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 10px;
}
#sub07AddressList .container .content .menu ul li h3 {
  font-size: 1.8rem;
  padding-top: 20px;
  font-weight: 600;
  text-indent: 10px;
}
#sub07AddressList .container .content .menu ul li a {
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 5px 0;
  text-indent: 10px;
}
#sub07AddressList .container .content .right {
  width: calc(100% - 200px);
  position: relative;
}
#sub07AddressList .container .content .right .bg-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background: url(../../../../../../public/img/sub07/tape.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#sub07AddressList .container .content .right .notice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#sub07AddressList .container .content .right .notice ul {
  border: 1px solid #5d3136;
  max-width: 1000px;
  padding: 0 4%;
}
#sub07AddressList .container .content .right .notice ul li {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 2% 0;
}
#sub07AddressList .container .content .right .notice ul li:nth-child(3) {
  padding-top: 0;
}
#sub07AddressList .container .content .right .notice ul li h3 {
  font-size: 2.5rem;
  display: inline-block;
  color: #5d3136;
  border-bottom: 2px solid #5d3136;
}
#sub07AddressList .container .content .right .notice ul li p {
  width: 100%;
  line-height: 180%;
  font-size: 1.8rem;
  white-space: wrap;
}
#sub07AddressList .container .content .right .notice ul li button {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.3s;
  background: none;
  border: 0;
}
#sub07AddressList .container .content .right .notice ul li button:first-child {
  margin-right: 30px;
  border: 1px solid #5d3136;
}
#sub07AddressList .container .content .right .notice ul li button:first-child:hover {
  background-color: #c6bdbd;
}
#sub07AddressList .container .content .right .notice ul li button:last-child {
  background-color: #5d3136;
  color: #ffffff;
}
#sub07AddressList .container .content .right .notice ul li button:last-child:hover {
  background-color: #c6bdbd;
  color: #5d3136;
}