#sub07MyProfile {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
  height: auto;
}
#sub07MyProfile .container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#sub07MyProfile .container .title {
  padding: 5% 0 5% 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#sub07MyProfile .container .title a {
  display: block;
}
#sub07MyProfile .container .title a h2 {
  font-size: 3rem;
  font-family: "TTHakgyoansimMulgyeolB";
  display: inline-block;
}
#sub07MyProfile .container .content {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
#sub07MyProfile .container .content .menu {
  width: 200px;
  height: auto;
  margin: 0 5%;
}
#sub07MyProfile .container .content .menu ul {
  width: 100%;
}
#sub07MyProfile .container .content .menu ul li {
  width: 100%;
  padding: 4% 0;
  display: block;
}
#sub07MyProfile .container .content .menu ul li.sub-title {
  border-top: 1px solid #ccc;
}
#sub07MyProfile .container .content .menu ul li h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 10px;
}
#sub07MyProfile .container .content .menu ul li h3 {
  font-size: 1.8rem;
  padding-top: 20px;
  font-weight: 600;
  text-indent: 10px;
}
#sub07MyProfile .container .content .menu ul li a {
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 5px 0;
  text-indent: 10px;
}
#sub07MyProfile .container .content .user-info {
  width: 70%;
  max-width: 900px;
}
#sub07MyProfile .container .content .user-info .head {
  margin-bottom: 30px;
}
#sub07MyProfile .container .content .user-info .head h3 {
  font-size: 1.8rem;
  background: #5d3136;
  display: inline-block;
  color: #ffffff;
  width: 300px;
  padding: 2% 0;
  font-weight: 500;
  text-align: center;
}
#sub07MyProfile .container .content .user-info .main {
  width: 100%;
}
#sub07MyProfile .container .content .user-info .main ul {
  width: 100%;
  border: 1px solid #c6bdbd;
  box-shadow: 1px 1px 3px 1px rgba(93, 49, 54, 0.5);
}
#sub07MyProfile .container .content .user-info .main ul li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  border-bottom: 1px solid #c6bdbd;
}
#sub07MyProfile .container .content .user-info .main ul li div {
  padding: 2.3% 0;
  height: auto;
  padding-left: 5%;
}
#sub07MyProfile .container .content .user-info .main ul li .left {
  width: 30%;
  background-color: #f0f0f0;
}
#sub07MyProfile .container .content .user-info .main ul li .left span {
  font-weight: 700;
}
#sub07MyProfile .container .content .user-info .main ul li .right {
  width: 70%;
}
#sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
  display: inline-block;
  margin-right: 5%;
}
#sub07MyProfile .container .content .user-info .foot {
  padding-top: 7%;
  display: flex;
  justify-content: center;
}
#sub07MyProfile .container .content .user-info .foot a {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.3s;
}
#sub07MyProfile .container .content .user-info .foot a:first-child {
  margin-right: 30px;
  border: 1px solid #5d3136;
}
#sub07MyProfile .container .content .user-info .foot a:first-child:hover {
  background-color: #c6bdbd;
}
#sub07MyProfile .container .content .user-info .foot a:last-child {
  background-color: #5d3136;
  color: #ffffff;
}
#sub07MyProfile .container .content .user-info .foot a:last-child:hover {
  background-color: #c6bdbd;
  color: #5d3136;
}
@media all and (max-width: 1190px) {
  #sub07MyProfile .container {
    padding: 20px;
  }
  #sub07MyProfile .container .title {
    padding: 5% 0 5% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #sub07MyProfile .container .title a {
    display: block;
  }
  #sub07MyProfile .container .title a h2 {
    font-size: 3rem;
    font-family: "TTHakgyoansimMulgyeolB";
    display: inline-block;
  }
  #sub07MyProfile .container .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #sub07MyProfile .container .content .menu {
    width: 200px;
    height: auto;
    margin: 0 5%;
  }
  #sub07MyProfile .container .content .menu ul {
    width: 100%;
  }
  #sub07MyProfile .container .content .menu ul li {
    width: 100%;
    padding: 4% 0;
    display: block;
  }
  #sub07MyProfile .container .content .menu ul li.sub-title {
    border-top: 1px solid #ccc;
  }
  #sub07MyProfile .container .content .menu ul li h2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li h3 {
    font-size: 1.8rem;
    padding-top: 20px;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li a {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 5px 0;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .user-info {
    width: 70%;
    max-width: 900px;
  }
  #sub07MyProfile .container .content .user-info .head {
    margin-bottom: 30px;
  }
  #sub07MyProfile .container .content .user-info .head h3 {
    font-size: 1.8rem;
    background: #5d3136;
    display: inline-block;
    color: #ffffff;
    width: 242px;
    padding: 2% 0;
    font-weight: 500;
    text-align: center;
  }
  #sub07MyProfile .container .content .user-info .main {
    width: 100%;
  }
  #sub07MyProfile .container .content .user-info .main ul li {
    font-size: 1.5rem;
  }
  #sub07MyProfile .container .content .user-info .main ul li div {
    padding: 2.3% 0;
    height: auto;
    padding-left: 5%;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left {
    width: 30%;
    background-color: #f0f0f0;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left span {
    font-weight: 700;
  }
  #sub07MyProfile .container .content .user-info .main ul li .right {
    width: 70%;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
    display: inline-block;
    margin-right: 50px;
  }
  #sub07MyProfile .container .content .user-info .foot {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .user-info .foot a {
    width: 242px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  #sub07MyProfile .container .content .user-info .foot a:first-child {
    margin-right: 30px;
    border: 1px solid #5d3136;
  }
  #sub07MyProfile .container .content .user-info .foot a:first-child:hover {
    background-color: #c6bdbd;
  }
  #sub07MyProfile .container .content .user-info .foot a:last-child {
    background-color: #5d3136;
    color: #ffffff;
  }
  #sub07MyProfile .container .content .user-info .foot a:last-child:hover {
    background-color: #c6bdbd;
    color: #5d3136;
  }
}
@media all and (max-width: 1025px) {
  #sub07MyProfile .container {
    padding: 20px;
  }
  #sub07MyProfile .container .title {
    padding: 5% 0 5% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #sub07MyProfile .container .title a {
    display: block;
  }
  #sub07MyProfile .container .title a h2 {
    font-size: 2.5rem;
    font-family: "TTHakgyoansimMulgyeolB";
    display: inline-block;
  }
  #sub07MyProfile .container .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #sub07MyProfile .container .content .menu {
    width: 160px;
    height: auto;
    margin: 0 5%;
  }
  #sub07MyProfile .container .content .menu ul {
    width: 100%;
  }
  #sub07MyProfile .container .content .menu ul li {
    width: 100%;
    padding: 4% 0;
    display: block;
  }
  #sub07MyProfile .container .content .menu ul li.sub-title {
    border-top: 1px solid #ccc;
  }
  #sub07MyProfile .container .content .menu ul li h2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li h3 {
    font-size: 1.8rem;
    padding-top: 20px;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li a {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 5px 0;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .user-info {
    width: 70%;
    max-width: 900px;
  }
  #sub07MyProfile .container .content .user-info .head {
    margin-bottom: 30px;
  }
  #sub07MyProfile .container .content .user-info .head h3 {
    font-size: 1.5rem;
    background: #5d3136;
    display: inline-block;
    color: #ffffff;
    width: 207px;
    padding: 2% 0;
    font-weight: 500;
    text-align: center;
  }
  #sub07MyProfile .container .content .user-info .main {
    width: 100%;
  }
  #sub07MyProfile .container .content .user-info .main ul li {
    font-size: 1.5rem;
  }
  #sub07MyProfile .container .content .user-info .main ul li div {
    padding: 2.3% 0;
    height: auto;
    padding-left: 4%;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left {
    width: 30%;
    background-color: #f0f0f0;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left span {
    font-weight: 700;
  }
  #sub07MyProfile .container .content .user-info .main ul li .right {
    width: 70%;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
    display: inline-block;
  }
  #sub07MyProfile .container .content .user-info .foot {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .user-info .foot a {
    width: 207px;
    height: 50px;
    font-size: 1.5rem;
  }
}
@media all and (max-width: 954px) {
  #sub07MyProfile .container {
    padding: 20px;
  }
  #sub07MyProfile .container .title {
    padding: 5% 0 5% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #sub07MyProfile .container .title a {
    display: block;
  }
  #sub07MyProfile .container .title a h2 {
    font-size: 2.5rem;
    font-family: "TTHakgyoansimMulgyeolB";
    display: inline-block;
  }
  #sub07MyProfile .container .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #sub07MyProfile .container .content .menu {
    width: 140px;
    height: auto;
    margin: 0 4%;
  }
  #sub07MyProfile .container .content .menu ul {
    width: 100%;
  }
  #sub07MyProfile .container .content .menu ul li {
    width: 100%;
    padding: 4% 0;
    display: block;
  }
  #sub07MyProfile .container .content .menu ul li.sub-title {
    border-top: 1px solid #ccc;
  }
  #sub07MyProfile .container .content .menu ul li h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li h3 {
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li a {
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 5px 0;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .user-info {
    width: 70%;
    max-width: 900px;
  }
  #sub07MyProfile .container .content .user-info .head {
    margin-bottom: 30px;
  }
  #sub07MyProfile .container .content .user-info .head h3 {
    font-size: 1.3rem;
    color: #ffffff;
    width: 192px;
    padding: 2% 0;
  }
  #sub07MyProfile .container .content .user-info .main {
    width: 100%;
  }
  #sub07MyProfile .container .content .user-info .main ul li {
    font-size: 1.3rem;
  }
  #sub07MyProfile .container .content .user-info .main ul li div {
    padding: 2.3% 0;
    height: auto;
    padding-left: 4%;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left {
    width: 30%;
    background-color: #f0f0f0;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left span {
    font-weight: 700;
  }
  #sub07MyProfile .container .content .user-info .main ul li .right {
    width: 70%;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
    display: inline-block;
    margin-right: 4%;
  }
  #sub07MyProfile .container .content .user-info .foot {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .user-info .foot a {
    width: 192px;
    height: 50px;
    font-size: 1.3rem;
  }
}
@media all and (max-width: 780px) {
  #sub07MyProfile .container {
    padding: 20px;
  }
  #sub07MyProfile .container .title {
    padding: 5% 0 5% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #sub07MyProfile .container .title a {
    display: block;
  }
  #sub07MyProfile .container .title a h2 {
    font-size: 2rem;
    display: inline-block;
  }
  #sub07MyProfile .container .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #sub07MyProfile .container .content .menu {
    width: 140px;
    height: auto;
    margin: 0 4%;
  }
  #sub07MyProfile .container .content .menu ul {
    width: 100%;
  }
  #sub07MyProfile .container .content .menu ul li {
    width: 100%;
    padding: 4% 0;
    display: block;
  }
  #sub07MyProfile .container .content .menu ul li.sub-title {
    border-top: 1px solid #ccc;
  }
  #sub07MyProfile .container .content .menu ul li h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li h3 {
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li a {
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 5px 0;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .user-info {
    width: 70%;
    max-width: 900px;
  }
  #sub07MyProfile .container .content .user-info .head {
    margin-bottom: 30px;
  }
  #sub07MyProfile .container .content .user-info .head h3 {
    font-size: 1 rem;
    color: #ffffff;
    width: 155px;
    padding: 2% 0;
  }
  #sub07MyProfile .container .content .user-info .main {
    width: 100%;
  }
  #sub07MyProfile .container .content .user-info .main ul li {
    font-size: 1rem;
  }
  #sub07MyProfile .container .content .user-info .main ul li div {
    padding: 2.3% 0;
    height: auto;
    padding-left: 4%;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left {
    width: 30%;
    background-color: #f0f0f0;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left span {
    font-weight: 700;
  }
  #sub07MyProfile .container .content .user-info .main ul li .right {
    width: 70%;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
    display: inline-block;
    margin-right: 4%;
  }
  #sub07MyProfile .container .content .user-info .foot {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .user-info .foot a {
    width: 155px;
    height: 40px;
    font-size: 1rem;
  }
}
@media all and (max-width: 649px) {
  #sub07MyProfile .container {
    padding: 20px;
  }
  #sub07MyProfile .container .title {
    padding: 5% 0 5% 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #sub07MyProfile .container .title a {
    display: block;
  }
  #sub07MyProfile .container .title a h2 {
    font-size: 2rem;
    display: inline-block;
  }
  #sub07MyProfile .container .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #sub07MyProfile .container .content .menu {
    width: 120px;
    height: auto;
    margin: 0 4%;
  }
  #sub07MyProfile .container .content .menu ul {
    width: 100%;
  }
  #sub07MyProfile .container .content .menu ul li {
    width: 100%;
    padding: 4% 0;
    display: block;
  }
  #sub07MyProfile .container .content .menu ul li.sub-title {
    border-top: 1px solid #ccc;
  }
  #sub07MyProfile .container .content .menu ul li h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li h3 {
    font-size: 1.3rem;
    padding-top: 20px;
    font-weight: 600;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .menu ul li a {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 5px 0;
    text-indent: 10px;
  }
  #sub07MyProfile .container .content .user-info {
    width: 70%;
    max-width: 900px;
  }
  #sub07MyProfile .container .content .user-info .head {
    margin-bottom: 20px;
  }
  #sub07MyProfile .container .content .user-info .head h3 {
    font-size: 0.9rem;
    color: #ffffff;
    width: 128px;
    padding: 2% 0;
  }
  #sub07MyProfile .container .content .user-info .main {
    width: 100%;
  }
  #sub07MyProfile .container .content .user-info .main ul li {
    font-size: 0.9rem;
  }
  #sub07MyProfile .container .content .user-info .main ul li div {
    padding: 2.3% 0;
    height: auto;
    padding-left: 2%;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left {
    width: 30%;
    background-color: #f0f0f0;
  }
  #sub07MyProfile .container .content .user-info .main ul li .left span {
    font-weight: 700;
  }
  #sub07MyProfile .container .content .user-info .main ul li .right {
    width: 70%;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  #sub07MyProfile .container .content .user-info .main ul li.user-email-agree .right span {
    display: inline-block;
    margin-right: 4%;
  }
  #sub07MyProfile .container .content .user-info .foot {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .user-info .foot a {
    width: 128px;
    height: 30px;
    font-size: 0.9rem;
  }
}
@media all and (max-width: 539px) {
  #sub07MyProfile .container .content {
    display: flex;
    justify-content: center;
  }
  #sub07MyProfile .container .content .menu {
    display: none;
  }
  #sub07MyProfile .container .content .user-info {
    width: 90%;
  }
}