#section8Component section {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
#section8Component section .container {
  width: 100%;
  height: 100%;
}
#section8Component section .container .title {
  width: 100%;
  padding: 30px 0;
  height: auto;
}
#section8Component section .container .title h2 {
  font-family: "TTHakgyoansimMulgyeolB";
  font-weight: 700;
  color: #ffffff;
}
#section8Component section .container .content {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  height: calc(100% - 100px);
}
#section8Component section#section8 {
  background-color: #ead3c1;
  width: 100%;
  height: auto;
}
#section8Component section#section8 .container {
  padding: 0 0 100px 0;
}
#section8Component section#section8 .container .title {
  width: 100%;
}
#section8Component section#section8 .container .title .title-container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#section8Component section#section8 .container .title .title-container h2 {
  font-size: 1.8rem;
  line-height: 160%;
}
#section8Component section#section8 .container .title .title-container h3 {
  color: #fff;
  font-size: 1.8rem;
  font-family: "TTHakgyoansimMulgyeolB";
  display: flex;
  align-items: center;
}
#section8Component section#section8 .container .title .line {
  width: 100%;
  height: 18px;
  border-top: 8px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
#section8Component section#section8 .container .content {
  width: 100%;
  height: auto;
}
#section8Component section#section8 .container .content .reviews {
  width: 100%;
  padding-bottom: 60px;
}
#section8Component section#section8 .container .content .reviews ul {
  width: 100%;
  overflow: hidden;
}
#section8Component section#section8 .container .content .reviews ul li {
  width: auto;
  white-space: nowrap;
  animation: review_ani var(--duration) linear infinite;
  display: inline-flex;
}
#section8Component section#section8 .container .content .reviews ul li span {
  line-height: 180%;
  font-family: Arial;
  font-size: 3rem;
  font-weight: 600;
  display: inline-block;
}
#section8Component section#section8 .container .content .reviews ul li:nth-child(1) {
  --duration: 30s;
}
#section8Component section#section8 .container .content .reviews ul li:nth-child(2) {
  --duration: 25s;
}
#section8Component section#section8 .container .content .reviews ul li:nth-child(3) {
  --duration: 20s;
}
#section8Component section#section8 .container .content .reviews ul li:nth-child(4) {
  --duration: 23s;
}
@keyframes review_ani {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#section8Component section#section8 .container .content .video {
  width: 100%;
  height: auto;
}
#section8Component section#section8 .container .content .video .video-container {
  position: relative;
  z-index: 1;
  width: auto;
  height: 100vh;
  background: url(../../../../../public/img/section8/tv_bg_edit.png) no-repeat 50% 50%;
  background-size: contain;
  overflow: hidden;
}
#section8Component section#section8 .container .content .video .video-container .slide-container {
  position: absolute;
  top: 15%;
  left: 21%;
  z-index: 2;
  width: 50%;
  overflow: hidden;
}
#section8Component section#section8 .container .content .video .video-container .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#section8Component section#section8 .container .content .video .video-container .slide-container .slide-view .slide-wrap {
  position: relative;
  z-index: 3;
  width: 3300px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding: 90px 0;
}
#section8Component section#section8 .container .content .video .video-container .slide-container .slide-view .slide-wrap li {
  width: 300px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
#section8Component section#section8 .container .content .video .video-container .slide-container .slide-view .slide-wrap li iframe {
  max-width: 260px;
  height: auto;
  aspect-ratio: 280/460;
  border: none;
  display: block;
}