#section12Component {
  background-color: #ead3c1;
}
#section12Component #section12 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
#section12Component #section12 .container {
  width: 100%;
  height: 100%;
}
#section12Component #section12 .container .title {
  width: 100%;
  padding: 30px 0 10px 0;
  height: auto;
  border-bottom: 1px solid #ffffff;
}
#section12Component #section12 .container .title .title-container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}
#section12Component #section12 .container .title .title-container h2 {
  line-height: 160%;
  padding-left: 20px;
  font-size: 1.8rem;
  font-family: "TTLaundryGothicB";
  font-weight: 700;
  color: #ffffff;
}
#section12Component #section12 .container .content {
  width: 100%;
  height: auto;
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}
#section12Component #section12 .container .content .left {
  width: 60%;
}
#section12Component #section12 .container .content .left .map {
  width: 100%;
  height: 600px;
  display: flex;
}
#section12Component #section12 .container .content .left .map iframe {
  margin: auto;
  width: 80%;
  height: 90%;
  border: 0;
}
#section12Component #section12 .container .content .right {
  width: 40%;
  display: flex;
}
#section12Component #section12 .container .content .right ul {
  width: 100%;
  margin: auto 0;
  padding-left: 20px;
}
#section12Component #section12 .container .content .right ul li {
  width: 100%;
  padding: 16px 10px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#section12Component #section12 .container .content .right ul li h2 {
  font-size: 1.5rem;
}
#section12Component #section12 .container .content .right ul li h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
#section12Component #section12 .container .content .right ul li i {
  margin-right: 10px;
}
#section12Component #section12 .container .content .right ul li p {
  font-size: 1.5rem;
  font-family: "KOHI Nanum";
}
@media all and (max-width: 1100px) {
  #section12Component #section12 .container .content {
    padding: 30px 0;
  }
  #section12Component #section12 .container .content .left .map {
    height: 500px;
  }
  #section12Component #section12 .container .content .right ul {
    padding-left: 10px;
  }
  #section12Component #section12 .container .content .right ul li h2 {
    font-size: 1.5rem;
  }
  #section12Component #section12 .container .content .right ul li h3 {
    font-size: 1.5rem;
  }
  #section12Component #section12 .container .content .right ul li p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 868px) {
  #section12Component #section12 .container .title {
    padding: 20px 0 10px 0;
  }
  #section12Component #section12 .container .content {
    padding: 10px 0;
  }
  #section12Component #section12 .container .content .left {
    width: 60%;
  }
  #section12Component #section12 .container .content .left .map {
    height: 400px;
  }
  #section12Component #section12 .container .content .right {
    width: 40%;
    display: flex;
  }
  #section12Component #section12 .container .content .right ul {
    width: 100%;
    margin: auto 0;
    padding-left: 10px;
  }
  #section12Component #section12 .container .content .right ul li h2 {
    font-size: 1.3rem;
  }
  #section12Component #section12 .container .content .right ul li h3 {
    font-size: 1.3rem;
  }
  #section12Component #section12 .container .content .right ul li p {
    font-size: 1rem;
  }
}
@media all and (max-width: 750px) {
  #section12Component #section12 .container .title {
    padding: 20px 0 10px 0;
  }
  #section12Component #section12 .container .content {
    padding: 10px 0;
    flex-flow: row wrap;
  }
  #section12Component #section12 .container .content .left {
    width: 100%;
  }
  #section12Component #section12 .container .content .left .map {
    height: 400px;
  }
  #section12Component #section12 .container .content .right {
    width: 100%;
    display: flex;
  }
  #section12Component #section12 .container .content .right ul {
    width: 100%;
    margin: auto 0;
    padding: 0 10%;
  }
}
@media all and (max-width: 500px) {
  #section12Component #section12 .container .title .title-container h2 {
    font-size: 1.3rem;
  }
  #section12Component #section12 .container .content .left .map {
    height: 300px;
  }
}