#section12Component {
  background-color: #ead3c1;
}
#section12Component section {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
#section12Component section .container {
  width: 100%;
  height: 100%;
}
#section12Component section .container .title {
  width: 100%;
  padding: 30px 0 10px 0;
  height: auto;
}
#section12Component section .container .title h2 {
  font-size: 1.8rem;
  font-family: "TTHakgyoansimMulgyeolB";
  font-weight: 700;
  color: #ffffff;
}
#section12Component section .container .content {
  width: 100%;
  height: auto;
}
#section12Component section#section12 {
  height: auto;
}
#section12Component section#section12 .container .title {
  border-bottom: 1px solid #ffffff;
}
#section12Component section#section12 .container .title .title-container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}
#section12Component section#section12 .container .title .title-container h2 {
  line-height: 160%;
  padding-left: 20px;
}
#section12Component section#section12 .container .content {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
}
#section12Component section#section12 .container .content .left {
  width: 60%;
}
#section12Component section#section12 .container .content .left .map {
  width: 100%;
  height: 600px;
  display: flex;
}
#section12Component section#section12 .container .content .left .map iframe {
  margin: auto;
  width: 80%;
  height: 90%;
}
#section12Component section#section12 .container .content .right {
  width: 40%;
  display: flex;
}
#section12Component section#section12 .container .content .right ul {
  width: 100%;
  margin: auto 0;
  padding: 50px;
}
#section12Component section#section12 .container .content .right ul li {
  width: 100%;
  padding: 16px 10px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#section12Component section#section12 .container .content .right ul li h2 {
  font-size: 1.8rem;
}
#section12Component section#section12 .container .content .right ul li h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
#section12Component section#section12 .container .content .right ul li i {
  margin-right: 10px;
}
#section12Component section#section12 .container .content .right ul li p {
  font-size: 1.5rem;
  font-family: "MaruBuriSemiBold";
}