#sub05RevWrite {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
  background: #fff;
}
#sub05RevWrite .container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}
#sub05RevWrite .container .title {
  width: 100%;
  padding: 3% 0 5% 0;
}
#sub05RevWrite .container .title h2 {
  width: 100%;
  font-size: 3rem;
  font-family: "TTLaundryGothicB";
  font-weight: 900;
}
#sub05RevWrite .container .content {
  width: 100%;
}
#sub05RevWrite .container .content .write-box {
  width: 100%;
}
#sub05RevWrite .container .content .write-box ul {
  width: 100%;
  border-top: 2px solid #23363f;
  border-bottom: 2px solid #23363f;
}
#sub05RevWrite .container .content .write-box ul li {
  width: 100%;
  padding-left: 3%;
  display: flex;
  align-items: center;
}
#sub05RevWrite .container .content .write-box ul li.row1 {
  height: 75px;
  background: #eaeaea;
}
#sub05RevWrite .container .content .write-box ul li.row1 h3 {
  font-size: 20px;
  font-weight: 600;
}
#sub05RevWrite .container .content .write-box ul li.row2, #sub05RevWrite .container .content .write-box ul li.row3 {
  height: 60px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}
#sub05RevWrite .container .content .write-box ul li.row2 label, #sub05RevWrite .container .content .write-box ul li.row3 label {
  margin-right: 10px;
  width: 80px;
}
#sub05RevWrite .container .content .write-box ul li.row2 label span, #sub05RevWrite .container .content .write-box ul li.row3 label span {
  font-weight: 600;
}
#sub05RevWrite .container .content .write-box ul li.row2 input[type=text], #sub05RevWrite .container .content .write-box ul li.row3 input[type=text] {
  width: calc(100% - 80px);
  height: 100%;
  border: 0;
  outline: 0;
  font-family: "KOHI Nanum";
  padding-left: 20px;
  font-size: 18px;
}
#sub05RevWrite .container .content .write-box ul li.row2 input[type=text]:focus, #sub05RevWrite .container .content .write-box ul li.row3 input[type=text]:focus {
  color: #000000;
}
#sub05RevWrite .container .content .write-box ul li.row4 {
  height: 300px;
}
#sub05RevWrite .container .content .write-box ul li.row4 textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 50px;
  resize: none;
}
#sub05RevWrite .container .content .button-box {
  text-align: right;
  padding-top: 1.5%;
}
#sub05RevWrite .container .content .button-box button {
  background: #23363f;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "KOHI Nanum";
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
#sub05RevWrite .container .content .button-box button:hover {
  opacity: 0.7;
}
#sub05RevWrite .container .content .button-box button:last-child {
  margin-left: 20px;
  background-color: #565050;
}
@media all and (max-width: 1520px) {
  #sub05RevWrite .container {
    padding: 0 40px;
  }
}
@media all and (max-width: 1150px) {
  #sub05RevWrite .container .title {
    padding-top: 30px;
  }
  #sub05RevWrite .container .title h2 {
    font-size: 2.4rem;
  }
  #sub05RevWrite .container .content .button-box button {
    font-size: 18px;
  }
}
@media all and (max-width: 750px) {
  #sub05RevWrite .container .title h2 {
    font-size: 1.8rem;
  }
  #sub05RevWrite .container .content .write-box ul li {
    width: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
  }
  #sub05RevWrite .container .content .write-box ul li.row1 {
    height: 60px;
  }
  #sub05RevWrite .container .content .write-box ul li.row1 h3 {
    font-size: 18px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2, #sub05RevWrite .container .content .write-box ul li.row3 {
    height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 label, #sub05RevWrite .container .content .write-box ul li.row3 label {
    margin-right: 10px;
    width: 50px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 label span, #sub05RevWrite .container .content .write-box ul li.row3 label span {
    font-weight: 600;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 input[type=text], #sub05RevWrite .container .content .write-box ul li.row3 input[type=text] {
    width: calc(100% - 50px);
    font-size: 16px;
  }
  #sub05RevWrite .container .content .write-box ul li.row4 {
    height: 200px;
  }
  #sub05RevWrite .container .content .write-box ul li.row4 textarea {
    font-size: 15px;
    padding: 40px;
  }
  #sub05RevWrite .container .content .button-box button {
    font-size: 18px;
  }
  #sub05RevWrite .container .content .button-box button:last-child {
    margin-left: 10px;
  }
}
@media all and (max-width: 550px) {
  #sub05RevWrite .container .title h2 {
    font-size: 1.5rem;
  }
  #sub05RevWrite .container .content .write-box ul li {
    width: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
  }
  #sub05RevWrite .container .content .write-box ul li.row1 {
    height: 50px;
  }
  #sub05RevWrite .container .content .write-box ul li.row1 h3 {
    font-size: 16px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2, #sub05RevWrite .container .content .write-box ul li.row3 {
    height: 36px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 label, #sub05RevWrite .container .content .write-box ul li.row3 label {
    margin-right: 10px;
    width: 50px;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 label span, #sub05RevWrite .container .content .write-box ul li.row3 label span {
    font-weight: 600;
  }
  #sub05RevWrite .container .content .write-box ul li.row2 input[type=text], #sub05RevWrite .container .content .write-box ul li.row3 input[type=text] {
    width: calc(100% - 50px);
    font-size: 15px;
  }
  #sub05RevWrite .container .content .write-box ul li.row4 {
    height: 160px;
  }
  #sub05RevWrite .container .content .write-box ul li.row4 textarea {
    font-size: 15px;
    padding: 40px;
  }
  #sub05RevWrite .container .content .button-box button {
    font-size: 15px;
  }
}