

#schedule-detail {
    width: 100%;
    padding: 60px 20px;
    background: #fff;
    margin-top: 250px;
  
    .container {
      width: 100%;
      .page-title{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        h2{
          font-size: 4rem;
          font-weight: 600;
        }
      }
      .site {
        padding-top: 40px;
        display: flex;
        align-items: center;
        column-gap: 11px;
        margin-bottom: 20px;
        a {
          &.now {
            font-weight: 600;
          }
        }
      }  
          .contents{
        max-width: 1720px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
  
        .calendar-area {
        width: 60%;
        .calendar-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 80px;
          padding: 0 10px;
          background: #5d3136;
          border-radius: 5px;
          position: relative;
          z-index: 1;
  
          .calendar-title {
            font-size: 1.6rem;
            font-weight: bold;
            color: #fff;
            position: relative;
            z-index: 2;
          }
  
          button {
            background: none;
            border: none;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
          }
        }
  
        .calendar-grid {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 10px;
  
          .day-label {
            text-align: center;
            font-weight: bold;
            color: #888;
            margin-bottom: 15px;
            &:first-child{
                color: #dd0000;
            }
            &:nth-child(7){
                color: #003cff;
            }
          }
  
          .calendar-cell {
            min-height: 80px;
            text-align: center;
            padding: 6px 4px;
            border-radius: 6px;
            position: relative;
  
            .date-circle {
              display: inline-block;
              width: 30px;
              height: 30px;
              line-height: 30px;
              border-radius: 50%;
              font-size: 1.2rem;
              font-weight: 300;
            }
  
            &.today .date-circle {
              border: 2px solid #5d3136;
              color: #ffffff;
              background: #5d3136;
              font-weight: bold;
            }
  
            &.selected {
              background-color: rgba(0, 0, 0, 0.07);
            }
  
            .dots {
              margin-top: 4px;
              display: flex;
              justify-content: center;
              gap: 2px;
  
              .dot {
                width: 6px;
                height: 6px;
                background: #e62037;
                border-radius: 50%;
              }
            }
          }
        }
        }
      
        .performance-area {
        width: 40%;
        padding-left: 20px;
        .performance-header {
          display: flex;
          height: auto;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 80px;
          background: #5d3136;
          border-radius: 5px;
          padding: 1px 10px;
  
          .current-date {
            font-weight: 600;
            font-size: 1.6rem;
            color: #fff;
          }
          
          button {
            background: none;
            color: #fff;
            border: none;
            font-size: 26px;
            cursor: pointer;
          }
        }
  
        .performance-list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          >p{
            display: flex;
            width: 100%;
            height: 200px;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
          }
  
          .performance-card {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
  
            .number {
              font-weight: 600;
              font-size: 1.1rem;
              margin-right: 25px;
            }
  
            img {
              width: 85px;
              height: 85px;
              object-fit: cover;
              margin-right: 10px;
              border-radius: 4px;
            }
  
            .info {
              width: calc(100% - 170px);
              padding-left: 20px;
  
              h3 {
                font-size: 1.4rem;
                margin-bottom: 8px;
              }
  
              p {
                font-size: 1.2rem;
                color: #666;
              }
            }
  
            .arrow {
              font-size: 16px;
              text-decoration: none;
              color: #888;
            }
          }
        }
        }
      }

      .info-box{
        margin-top: 200px;
        width: 100%;
        
        .infomation{
          margin: 0 auto;
          width: 100%;
          max-width: 1720px;
          h2{
            font-size: 2.6rem;
            margin-bottom: 20px;
            padding-left: 20px;
          }
          ul{
            width: 100%;
            padding: 70px 60px 70px 80px;
            background: #5d3136;
            border-radius: 25px;
            width: 100%;
            position: relative;
            li{
              display: flex;
              padding-bottom: 35px;
              &:nth-child(4){
                padding-bottom: 0;
              }
              p{
                font-size: 1.2rem;
                color: #fff;
              }
            }
            .img-box{
              position: absolute;
              bottom: 30px;
              right: 50px;
              width: auto;
              transform: rotate(10deg);
              i{
                font-size: 40px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  
@media (max-width: 440px) {
#schedule-detail {
  width: 100%;
  .container{
    width: 100%;
    .page-title{
      h2{
        font-size: 2.5rem;
      }
    }
    .contents {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .calendar-area{
        width: 100%;
        .calendar-header{
          width: 100%;
          margin-bottom: 60px;
        }
        .calendar-grid {
          gap: 1px;
        }
      }
      .performance-area {
      width: 100%;
      padding: 0;
      .performance-header{
        margin-bottom: 40px;
      }
        .performance-list{
          padding: 0 5px;
          .performance-card{
            padding: 5px;
          }
        }
      }
    

    }
        .info-box{
        margin-top: 100px;
        width: 100%;
        .infomation{
          width: 100%;
          h2{
            font-size: 2rem;
            font-weight: 500;
          }
          ul{
            padding: 40px 25px;
            border-radius: 20px;
            width: 100%;
            li{
              padding-bottom: 25px;
              &:nth-child(4){
                padding-bottom: 0;
              }
              p{
                font-size: 0.8rem;
                line-height: 140%;
                color: #fff;
              }
            }
            .img-box{
              position: absolute;
              bottom: 20px;
              right: 20px;
              transform: rotate(10deg);
              i{
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
      }

}
}
}
  