@use "../../scss/variables" as *;
#confirmModalComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(5px);
  z-index: 15;
  animation: fade-up 0.2s forwards;
  @keyframes fade-up {
    0% {
      background: rgba($color: #000000, $alpha: 0);
    }
    100% {
      background: rgba($color: #000000, $alpha: 0.7);
    }
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    .content {
      margin: auto;
      background: #fff;
      max-width: 750px;
      padding: 15px 30px;
      border-radius: $border-radius;
      overflow: hidden;
      display: flex;
      align-items: center;
      column-gap: 30px;
      animation: fade-up2 0.2s forwards;
      @keyframes fade-up2 {
        0% {
          transform: translateY(30%);
          opacity: 0;
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .col {
        &.col1 {
          .sentence {
            margin-bottom: 30px;
            p {
              &.heading {
                font-size: $size4 * 1.5;
                font-family: $font2;
                margin-bottom: 10px;
                color: $primary-color;
              }
              &.explain {
                text-align: justify;
                color: #777;
                line-height: 1.3;
                white-space: pre-line;
              }
            }
          }
          .button {
            button {
              padding: 5px 10px;
              background: none;
              border: none;
              cursor: pointer;
              font-family: $font1;
              font-weight: 900;
              font-size: 16px;
              &:first-child {
                margin-right: 10px;
                color: $primary-color;
              }
              &:last-child {
                background: $primary-color;
                border-radius: 6px;
                color: #fff;
              }
            }
          }
        }
        &.col2 {
          i {
            font-size: 150px;
            color: $primary-color;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      padding: 8vw;
    }
    @media all and (max-width: 585px) {
      .content {
        .col {
          &.col1 {
            .sentence {
              p {
                &.heading {
                  font-size: $size4;
                }
              }
            }
            .button {
              button {
                padding: 5px 10px;
                font-size: 14px;
              }
            }
          }
          &.col2 {
            i {
              font-size: 110px;
            }
          }
        }
      }
    }
    @media all and (max-width: 405px) {
      .content {
        flex-direction: column-reverse;
        .col {
          &.col1 {
            .sentence {
              p {
                white-space: pre-line;
              }
            }
          }
        }
      }
    }
    @media all and (max-width: 355px) {
      .content {
        .col {
          &.col2 {
            i {
              font-size: 80px;
            }
          }
        }
      }
    }
  }
}
