@use "../../scss/variables" as *;

#footer {
  width: 100%;
  background-color: $sub-color3;
  color: #fff;
  font-family: $font1;
  overflow: hidden;
  position: relative;

  .wave-svg {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;

    &.first {
      transform: rotate(180deg);
    }

    path {
      animation: waveMotion 2s ease-in-out infinite;
    }
  }

  @keyframes waveMotion {
    0% {
      d: path("M0,128L48,144C96,160,192,192,288,181.3C384,171,480,117,576,112C672,107,768,149,864,181.3C960,213,1056,235,1152,240C1248,245,1344,235,1392,229.3L1440,224L1440,0L0,0Z");
    }
    50% {
      d: path("M0,140L60,130C120,120,200,170,300,160C400,150,500,100,600,120C700,140,800,190,900,180C1000,170,1100,140,1200,150C1300,160,1400,130,1440,140L1440,0L0,0Z");
    }
    100% {
      d: path("M0,128L48,144C96,160,192,192,288,181.3C384,171,480,117,576,112C672,107,768,149,864,181.3C960,213,1056,235,1152,240C1248,245,1344,235,1392,229.3L1440,224L1440,0L0,0Z");
    }
  }

  .wave-top {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -1px;
  }

  .footer-middle {
    background-color: #1c2a2e;
    padding: 100px 20px 60px;
    position: relative;
    z-index: 1;

    .footer-columns {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      max-width: 1200px;
      margin: 0 auto;

      li {
        text-align: center;

        h4 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 8px;
        }

        p {
          font-size: 13px;
          opacity: 0.9;
          color: $sub-color4;
        }
      }
    }
  }

  .wave-bottom {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
  }

  .footer-bottom {
    background-color: $sub-color3;
    padding: 80px 40px 60px;
    text-align: center;
    font-size: 14px;
    color: #ccc;

    .footer-links {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto 80px auto;
      max-width: 1750px;
      padding-left: 20px;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;

        li {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h5 {
            font-weight: 700;
            color:$primary-color;
            margin-bottom: 8px;
            font-size: 18px;
          }

          a {
            font-size: 13px;
            color: $primary-color;
            text-decoration: none;
            opacity: 0.9;
          }
        }
      }
    }

    .footer-bottom-inner {
      max-width: 1750px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
      flex-wrap: wrap;
    }

    .footer-info {
      font-size: 13px;
      color: #fff;
      line-height: 1.8;
      padding-left: 10px;
      max-width: 70%;

      .categories {
        margin-bottom: 10px;
        color: $sub-color2;

        a {
          font-size: 13px;
          opacity: 0.9;
          text-decoration: none;
        }

        .mobile-br {
          display: none;

          @media (max-width: 560px) {
            display: block;
            height: 0;

            &::after {
              content: "";
              display: block;
            }
          }
        }
      }

      .address {
        margin-bottom: 10px;
        color:  $primary-color;
        font-size: 12px;
      }

      .copy {
        font-size: 11px;
        opacity: 0.6;
        color: $primary-color;
      }
    }

    .footer-logo {
      margin-right: 80px;

      img {
        width: 150px;
        height: auto;
        display: block;
      }
    }
  }
}