@charset "UTF-8";
#sub02ShopDetail {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
}
#sub02ShopDetail #wrap {
  width: 100%;
  height: auto;
  background: #ffffff;
  min-height: 100vh;
}
#sub02ShopDetail #wrap > .title {
  width: 100%;
  padding: 30px 0;
  height: auto;
  display: flex;
  align-items: center;
  background: #23363f;
  border-bottom: 1px solid #ffffff;
}
#sub02ShopDetail #wrap > .title a {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}
#sub02ShopDetail #wrap > .title a h2 {
  color: #23363f;
  font-size: 3rem;
  font-family: "TTLaundryGothicB";
  font-weight: 700;
  color: #ffffff;
}
#sub02ShopDetail #wrap .site {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: flex-end;
}
#sub02ShopDetail #wrap .content {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  height: auto;
}
#sub02ShopDetail #wrap .content .category-name {
  width: 100%;
  background-color: #ffffff;
}
#sub02ShopDetail #wrap .content .category-name ul {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#sub02ShopDetail #wrap .content .category-name ul li {
  margin: 0 20px;
}
#sub02ShopDetail #wrap .content .category-name ul li a {
  transition: all 0.3s;
}
#sub02ShopDetail #wrap .content .category-name ul li a span {
  font-size: 1.8rem;
  font-family: "KOHI Nanum";
}
#sub02ShopDetail #wrap .content .category-name ul li a span:hover {
  border-bottom: 2px solid #23363f;
}
#sub02ShopDetail #wrap .content .category-name ul li a span.on {
  border-bottom: 2px solid #23363f;
}
#sub02ShopDetail #wrap .content .detail {
  width: 100%;
}
#sub02ShopDetail #wrap .content .detail .top {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #23363f;
}
#sub02ShopDetail #wrap .content .detail .top .left {
  width: 50%;
  height: 100%;
}
#sub02ShopDetail #wrap .content .detail .top .left .img-box {
  width: 100%;
}
#sub02ShopDetail #wrap .content .detail .top .left .img-box .gap {
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: right;
}
#sub02ShopDetail #wrap .content .detail .top .left .img-box .gap img {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
#sub02ShopDetail #wrap .content .detail .top .right {
  width: 50%;
  display: flex;
  align-items: center;
}
#sub02ShopDetail #wrap .content .detail .top .right ul {
  width: 100%;
  padding-right: 45%;
  text-align: right;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(1) {
  padding-bottom: 40px;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(1) h2 {
  font-family: "KOHI Nanum";
  font-size: 2.5rem;
  font-weight: 700;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(2) {
  padding-bottom: 30px;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(2) em {
  padding-top: 5px;
  font-size: 1.8rem;
  font-weight: 600;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) {
  padding-bottom: 2%;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) p {
  font-size: 12px;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box {
  border: 1px solid #ddd;
  height: 30px;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box button {
  height: 100%;
  background: #fff;
  border: none;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box button i {
  font-size: 1.8rem;
  color: #999;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input {
  width: 50px;
  height: 100%;
  font-size: 1.8rem;
  text-align: center;
  font-size: 1rem;
  background: #fff;
  border: none;
  /* 스핀 버튼 제거 */
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input::-webkit-inner-spin-button, #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(4) {
  padding: 3% 0;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(4) select {
  width: 260px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #ccc;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(4) select option {
  text-align: left;
  padding-right: 15px;
  color: #999;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart {
  width: 200px;
  height: 50px;
  background-color: #000000;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1%;
  font-size: 1.3rem;
  color: #ffffff;
  transition: all 0.3s;
  border: 1px solid #000000;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart a:hover {
  background-color: #ffffff;
  color: #000000;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish {
  margin-left: 10px;
  border: 1px solid #000000;
  width: 50px;
  height: 50px;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a {
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 13px;
  transition: all 0.3s;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a i {
  font-size: 1.8rem;
  color: #000000;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a:hover {
  background-color: #000000;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a:hover i {
  color: #ffffff;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.buy-now {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.buy-now a {
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: 1px solid #3a7773;
  background-color: #3a7773;
  color: #ffffff;
  transition: all 0.3s;
}
#sub02ShopDetail #wrap .content .detail .top .right ul li.buy-now a:hover {
  background-color: #ffffff;
  color: #3a7773;
}
#sub02ShopDetail #wrap .content .detail .bottom {
  width: 100%;
  padding: 8% 0;
}
#sub02ShopDetail #wrap .content .detail .bottom .description {
  width: auto;
  margin: 0 10%;
  padding-bottom: 1%;
}
#sub02ShopDetail #wrap .content .detail .bottom .description h3 {
  color: #3a7773;
  display: inline-block;
  text-align: center;
  padding: 2% 0 0.5% 0;
  font-size: 1.5rem;
}
#sub02ShopDetail #wrap .content .detail .bottom .description p {
  width: auto;
  line-height: 200%;
  padding: 1.5% 0 1.5% 1%;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}
#sub02ShopDetail #wrap .content .detail .bottom .description p:last-child {
  border: 0;
}
#sub02ShopDetail #wrap .content .detail .bottom .description .img-box {
  width: 100%;
  max-width: 1750px;
  padding-top: 7.5%;
  gap: 10px;
  text-align: center;
  overflow: hidden;
}
#sub02ShopDetail #wrap .content .detail .bottom .description .img-box img {
  margin: 5px;
  border: 1px solid #23363f;
  flex: 1;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: calc((100% - 20px) / 3);
  box-shadow: 2px 2px 2px #23363f;
  transition: all 0.3s;
}
#sub02ShopDetail #wrap .content .detail .bottom .description .img-box img:hover {
  opacity: 0.7;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul {
  width: auto;
  margin: 0 10%;
  padding-bottom: 1%;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li {
  width: 100%;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .delivery-title {
  width: 100%;
  color: #3a7773;
  padding: 2% 0 0.5% 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .delivery-title h3 {
  font-size: 1.8rem;
  text-indent: 5px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .delivery-title .icon {
  text-align: center;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .delivery-title .icon i {
  width: 100%;
  transition: all 0.3s;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .content {
  width: 100%;
  padding: 10px 0;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .content p {
  padding: 1% 0 1% 1%;
  line-height: 200%;
  font-size: 1.2rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
  border-bottom: 1px solid #ddd;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .content p a {
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .content p a:hover {
  color: #3a7773;
}
#sub02ShopDetail #wrap .content .detail .delivery-box > ul > li.plus .delivery-title {
  cursor: pointer;
  padding: 1% 0;
  border-bottom: 1px solid #c6bdbd;
}
@media all and (max-width: 1770px) {
  #sub02ShopDetail #wrap .title a h2 {
    padding-left: 20px;
  }
  #sub02ShopDetail #wrap .content {
    padding-left: 20px;
  }
}
@media all and (max-width: 1200px) {
  #sub02ShopDetail #wrap .content .detail .top .right ul {
    padding-right: 30%;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(1) h2 {
    font-size: 2rem;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(2) em {
    font-size: 1.5rem;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart a {
    font-size: 1.1rem;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.buy-now a {
    font-size: 1.1rem;
  }
}
@media all and (max-width: 865px) {
  #sub02ShopDetail #wrap .content .detail .top {
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
  }
  #sub02ShopDetail #wrap .content .detail .top .left {
    width: 100%;
  }
  #sub02ShopDetail #wrap .content .detail .top .left .img-box .gap {
    text-align: center;
  }
  #sub02ShopDetail #wrap .content .detail .top .left .img-box .gap img {
    border: 1px solid #c6bdbd;
  }
  #sub02ShopDetail #wrap .content .detail .top .right {
    width: 100%;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul {
    padding-right: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li {
    width: 100%;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(1) {
    width: 100%;
    padding-bottom: 15px;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(1) h2 {
    font-size: 2rem;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(2) {
    width: 100%;
    padding-bottom: 10px;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(2) em {
    font-size: 1.5rem;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) {
    width: 100%;
    padding-bottom: 0;
    display: flex;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector {
    margin-left: 10px;
    width: auto;
    height: 40px;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box {
    border: 1px solid #ddd;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box button {
    height: 100%;
    background: #fff;
    border: none;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box button i {
    font-size: 1.8rem;
    color: #999;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input {
    width: 50px;
    height: 100%;
    font-size: 1.8rem;
    text-align: center;
    font-size: 1rem;
    background: #fff;
    border: none;
    /* 스핀 버튼 제거 */
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input::-webkit-inner-spin-button, #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(3) .quantity-selector .selector-box input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li:nth-child(4) {
    width: 100%;
    padding: 1% 0;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart {
    width: 200px;
    height: 50px;
    background-color: #000000;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1%;
    font-size: 1.1rem;
    color: #ffffff;
    transition: all 0.3s;
    border: 1px solid #000000;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-cart a:hover {
    background-color: #ffffff;
    color: #000000;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish {
    margin-left: 10px;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a {
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 13px;
    transition: all 0.3s;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a i {
    font-size: 1.8rem;
    color: #000000;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a:hover {
    background-color: #000000;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.cart-wish .add-wish a:hover i {
    color: #ffffff;
  }
  #sub02ShopDetail #wrap .content .detail .top .right ul li.buy-now {
    justify-content: center;
  }
}
@media all and (max-width: 630px) {
  #sub02ShopDetail #wrap .title a h2 {
    font-size: 2.5rem;
  }
  #sub02ShopDetail #wrap .content .category-name ul {
    padding-bottom: 10px;
  }
  #sub02ShopDetail #wrap .content .category-name ul li a span {
    font-size: 1.8rem;
  }
  #sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .delivery-title h3 {
    font-size: 1.5rem;
  }
  #sub02ShopDetail #wrap .content .detail .delivery-box > ul > li .content p {
    font-size: 1rem;
  }
}

@media all and (max-width: 1025px) {
  #sub02ShopDetail {
    margin-top: 70px;
  }
}