#sub02Merch01 {
  width: 100%;
}
#sub02Merch01 #wrap {
  width: 100%;
  height: auto;
  background: #ffffff;
}
#sub02Merch01 #wrap .title {
  width: 100%;
  padding: 30px 0;
  height: auto;
  display: flex;
  align-items: center;
  background: #004643;
  border-bottom: 1px solid #ffffff;
}
#sub02Merch01 #wrap .title a {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}
#sub02Merch01 #wrap .title a h2 {
  color: #004643;
  font-size: 3rem;
  font-family: "TTHakgyoansimMulgyeolB";
  font-weight: 700;
  color: #ffffff;
}
#sub02Merch01 #wrap .content {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  height: auto;
}
#sub02Merch01 #wrap .content .category-name {
  width: 100%;
  background-color: #ffffff;
}
#sub02Merch01 #wrap .content .category-name ul {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#sub02Merch01 #wrap .content .category-name ul li {
  margin: 0 20px;
}
#sub02Merch01 #wrap .content .category-name ul li:first-child a span {
  border-bottom: 2px solid #004643;
}
#sub02Merch01 #wrap .content .category-name ul li a {
  transition: all 0.3s;
}
#sub02Merch01 #wrap .content .category-name ul li a span {
  font-size: 1.8rem;
  font-family: "MaruBuri";
}
#sub02Merch01 #wrap .content .category-name ul li a span:hover {
  border-bottom: 2px solid #004643;
}
#sub02Merch01 #wrap .content .detail {
  width: 100%;
  height: auto;
}
#sub02Merch01 #wrap .content .detail .top {
  width: 100%;
  height: 700px;
  background-color: yellow;
  display: flex;
}
#sub02Merch01 #wrap .content .detail .top .left {
  width: 50%;
  height: 100%;
  background-color: blue;
}
#sub02Merch01 #wrap .content .detail .top .left .img-box {
  width: 100%;
}
#sub02Merch01 #wrap .content .detail .top .left .img-box .gap {
  width: 100%;
}
#sub02Merch01 #wrap .content .detail .top .left .img-box .gap img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#sub02Merch01 #wrap .content .detail .top .right {
  width: 50%;
  height: 100%;
}
#sub02Merch01 #wrap .content .detail .bottom {
  background-color: rgb(200, 255, 192);
  width: 100%;
  height: 300px;
}