@use "../../../../scss/variables" as *;
@use "../../../../scss/mixin" as *;
#sub05RevWrite {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
  background: #fff;
  .container {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;

    .title {
      width: 100%;
      padding: 3% 0 5% 0;
      h2 {
        width: 100%;
        font-size: $size3;
        font-family: $font2;
        font-weight: 900;
      }
    }
    .content {
      width: 100%;
      .write-box {
        width: 100%;
        ul {
          width: 100%;
          border-top: 2px solid $sub-color1;
          border-bottom: 2px solid $sub-color1;
          li {
            width: 100%;
            padding-left: 3%;
            display: flex;
            align-items: center;
            &.row1 {
              height: 75px;
              background: #eaeaea;
              h3 {
                font-size: 20px;
                font-weight: 600;
              }
            }
            &.row2,
            &.row3 {
              height: 60px;
              border-bottom: 1px solid #ccc;
              font-size: 18px;
              label {
                margin-right: 10px;
                width: 80px;
                span {
                  font-weight: 600;
                }
              }

              input[type="text"] {
                width: calc(100% - 80px);
                height: 100%;
                border: 0;
                outline: 0;
                font-family: $font1;
                padding-left: 20px;
                font-size: 18px;
                &:focus {
                  color: $black;
                }
              }
            }
            &.row4 {
              height: 300px;
              textarea {
                width: 100%;
                height: 100%;
                background: transparent;
                border: 0;
                outline: 0;
                font-size: 16px;
                padding: 50px;
                resize: none;
              }
            }
          }
        }
      }
      .button-box {
        text-align: right;
        padding-top: 1.5%;
        button {
          background: $sub-color1;
          color: $white;
          border: 0;
          font-size: 20px;
          font-weight: 600;
          font-family: $font1;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
          &:last-child {
            margin-left: 20px;
            background-color: $grey2;
          }
        }
      }
    }
  }

  @media all and (max-width: 1520px) {
    .container {
      padding: 0 40px;
    }
  }
  @media all and (max-width: 1150px) {
    .container {
      .title {
        padding-top: 30px;
        h2 {
          font-size: 2.4rem;
        }
      }
      .content {
        .button-box {
          button {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media all and (max-width: 750px) {
    .container {
      .title {
        h2 {
          font-size: $size4;
        }
      }
      .content {
        .write-box {
          ul {
            li {
              width: 100%;
              padding-left: 3%;
              display: flex;
              align-items: center;
              &.row1 {
                height: 60px;
                h3 {
                  font-size: 18px;
                }
              }
              &.row2,
              &.row3 {
                height: 40px;
                border-bottom: 1px solid #ccc;
                font-size: 16px;
                label {
                  margin-right: 10px;
                  width: 50px;
                  span {
                    font-weight: 600;
                  }
                }
                input[type="text"] {
                  width: calc(100% - 50px);
                  font-size: 16px;
                }
              }
              &.row4 {
                height: 200px;
                textarea {
                  font-size: 15px;
                  padding: 40px;
                }
              }
            }
          }
        }
        .button-box {
          button {
            font-size: 18px;
            &:last-child {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 550px) {
    .container {
      .title {
        h2 {
          font-size: 1.5rem;
        }
      }
      .content {
        .write-box {
          ul {
            li {
              width: 100%;
              padding-left: 3%;
              display: flex;
              align-items: center;
              &.row1 {
                height: 50px;
                h3 {
                  font-size: 16px;
                }
              }
              &.row2,
              &.row3 {
                height: 36px;
                border-bottom: 1px solid #ccc;
                font-size: 15px;
                label {
                  margin-right: 10px;
                  width: 50px;
                  span {
                    font-weight: 600;
                  }
                }
                input[type="text"] {
                  width: calc(100% - 50px);
                  font-size: 15px;
                }
              }
              &.row4 {
                height: 160px;
                textarea {
                  font-size: 15px;
                  padding: 40px;
                }
              }
            }
          }
        }
        .button-box {
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}
