@use "../../../../scss/variables" as *;
@use "../../../../scss/mixin" as *;
#sub05Rev {
  width: 100%;
  margin-top: 100px;
  background: #fff;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-bottom: 200px;
    max-width: 1500px;
    margin: 0 auto;
    .title {
      padding: 3% 0 0 0;
      width: 100%;

      h2 {
        font-size: $size3;
        font-family: $font2;
        font-weight: 900;
        width: 100%;
        padding-bottom: 30px;
      }
      h3 {
        font-size: 18px;
        font-family: $font1;
      }
    }
    .content {
      width: 100%;

      .top {
        max-width: 1500px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px 30px 0;
        button {
          padding: 10px 20px;
          font-size: 17px;
          border: 0;
          background: $primary-color;
          color: #fff;
          border-radius: 8px;
          cursor: pointer;
          font-family: $font1;
          font-weight: 500;
        }
        h4 {
          color: #888;
          i {
            font-size: 13px;
          }
          span {
            margin-left: 5px;
          }
        }
      }
      .review-box {
        max-width: 1540px;
        margin: 0 auto;
        width: 100%;
        user-select: none;
        ul {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          li {
            width: calc(100% / 3);
            padding: 25px 18px;
            .gap {
              width: 100%;
              height: 270px;
              border: 2px solid #bbb;
              border-radius: 15px;
              padding: 40px 30px;
              transition: all 0.3s;
              background-color: #fff;
              cursor: pointer;
              .row1 {
                width: 100%;
                height: 96px;
                p {
                  width: 100%;
                  height: 100%;
                  font-size: 20px;
                  color: #23363f;
                  font-weight: 700;
                  line-height: 160%;
                  white-space: wrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .row2 {
                width: 100%;
                color: #999;
                padding-top: 20px;
                padding-bottom: 5px;
              }
              .row3 {
                width: 100%;
                color: #999;
                padding-bottom: 30px;
              }
              .row4 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                em {
                  width: 75%;
                  color: #999;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                span {
                  text-align: right;
                  width: 25%;
                  button {
                    border: 0;
                    background: transparent;
                    transition: all 0.3s;
                    &:hover {
                      transform: scale(1.2);
                    }
                    i {
                      color: #e52023;
                      font-size: 18px;
                      cursor: pointer;
                    }
                  }

                  b {
                    margin-left: 5px;
                    color: #23363f;
                    font-weight: 700;
                  }
                }
              }
              &:hover {
                border-color: $primary-color;
                transform: scale(1.03);
              }
            }
          }
        }
      }
      .pagination-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin:  0 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: 45px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: all 0.3s;
            background: #fff;
           

            &.icon1{
               font-size: 20px;
               color: #777;

            }
            &.icon2{
                font-size: 16px;
                color: #444;
                font-weight: 700;
            }

            &:hover{
                border-color:  $primary-color;

            }
            &.on{
                background-color: $primary-color;
                border-color: $primary-color;
                color: #fff;
            }
             }
    ul{
        display: flex;
        justify-content: center;
        li{
            font-size: 14px;
            width: auto;
            margin: 0 2px;
            a{
                background: #fff;
                margin:  0 1px;
                display: flex;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 4px;
                transition: all 0.3s;
                &:hover{
                    border-color:$primary-color;

                }
                &.on{
                    background-color:$primary-color;
                    border-color:$primary-color;
                    color: #fff;
                }
            }
        }
    }
}
    }
  }
  @media all and (max-width: 1520px) {
    .container {
      padding: 0 20px;
      .content {
        .review-box {
          ul {
            li {
              .gap {
                .row1 {
                  p {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1150px) {
    .container {
      margin-bottom: 150px;
      .title {
        a {
          h2 {
            font-size: 2.4rem;
            padding-bottom: 20px;
          }
        }
        h3 {
          font-size: 16px;
        }
      }
      .content {
        .review-box {
          ul {
            li {
              width: calc(100% / 2);
              padding: 18px 15px;
              .gap {
                .row1 {
                  p {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 750px) {
    .container {
      margin-bottom: 100px;
      .title {
        a {
          h2 {
            font-size: $size4;
            padding-bottom: 15px;
          }
        }
        h3 {
          font-size: 14px;
        }
      }
      .content {
        .top {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;
          padding-bottom: 20px;
          h4 {
            padding-top: 15px;
            width: 100%;
          }
        }
        .review-box {
          ul {
            li {
              width: calc(100% / 2);
              padding: 15px 10px;
              .gap {
                .row1 {
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 550px) {
    .container {
      .title {
        a {
          h2 {
            font-size: $size4;
          }
        }
        h3 {
          font-size: 13px;
        }
      }
      .content {
        .review-box {
          ul {
            li {
              width: calc(100% / 1);
              padding: 18px 15px;
              .gap {
                height: 240px;
                .row1 {
                  height: 80px;
                }
                .row2 {
                  padding-top: 10px;
                }
                .row3 {
                  padding-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal {
    &.on {
      display: flex;
    }
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    .modal-box {
      width: 800px;
      height: auto;
      background: #fff;
      border-radius: 16px;
      margin: auto;
      border: 2px solid #bbb;
      padding: 1.5% 3% 3% 3%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        i {
          font-size: 30px;
          color: $grey2;
          transition: all 0.3s;
          &:hover {
            color: #000;
          }
        }
        &.prev {
          left: 15px;
        }
        &.next {
          right: 15px;
        }
      }
      .center-box {
        width: 100%;
        padding: 0 30px;
        .title {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            font-family: $font2;
            font-size: 2rem;
            color: $primary-color;
          }
        }
        .content {
          width: 100%;
          height: calc(100% - 80px);
          .gap {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            transition: all 0.3s;
            background-color: #fff;
            .row1 {
              width: 100%;
              height: 96px;
              p {
                width: 100%;
                height: 100%;
                font-size: 20px;
                color: #23363f;
                font-weight: 700;
                line-height: 160%;
                white-space: wrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
            .row2 {
              width: 100%;
              color: #999;
              padding-top: 30px;
              padding-bottom: 5px;
            }
            .row3 {
              width: 100%;
              color: #999;
              padding-bottom: 30px;
            }
            .row4 {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              em {
                width: 75%;
                color: #999;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              span {
                text-align: right;
                width: 25%;
                button {
                  border: 0;
                  background: transparent;
                  transition: all 0.3s;
                  &:hover {
                    transform: scale(1.2);
                  }
                  i {
                    color: #e52023;
                    font-size: 18px;
                    cursor: pointer;
                  }
                }

                b {
                  margin-left: 5px;
                  color: #23363f;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 840px) {
    .modal {
      .modal-box {
        width: 600px;

        .nav {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          i {
            font-size: 18px;
            color: $grey2;
            transition: all 0.3s;
            &:hover {
              color: #000;
            }
          }
          &.prev {
            left: 15px;
          }
          &.next {
            right: 15px;
          }
        }
        .center-box {
          width: 100%;
          padding: 0 30px;
          .title {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
              font-family: $font2;
              font-size: 1.8rem;
              color: $primary-color;
            }
          }
          .content {
            width: 100%;
            height: calc(100% - 80px);
            .gap {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              transition: all 0.3s;
              background-color: #fff;
              .row1 {
                width: 100%;
                height: 96px;
                p {
                  width: 100%;
                  height: 100%;
                  font-size: 16px;
                  color: #23363f;
                  font-weight: 700;
                  line-height: 160%;
                  white-space: wrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .row2 {
                width: 100%;
                color: #999;
                padding-top: 16px;
                padding-bottom: 5px;
              }
              .row3 {
                width: 100%;
                color: #999;
                padding-bottom: 16px;
              }
              .row4 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                em {
                  width: 75%;
                  color: #999;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                span {
                  text-align: right;
                  width: 25%;
                  button {
                    border: 0;
                    background: transparent;
                    transition: all 0.3s;
                    &:hover {
                      transform: scale(1.2);
                    }
                    i {
                      color: #e52023;
                      font-size: 18px;
                      cursor: pointer;
                    }
                  }

                  b {
                    margin-left: 5px;
                    color: #23363f;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 640px) {
    .modal {
      .modal-box {
        width: 400px;
        height: auto;
        background: #fff;
        border-radius: 16px;
        margin: auto;
        border: 2px solid #bbb;
        padding: 1.5% 3% 3% 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .nav {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          i {
            font-size: 18px;
            color: $grey2;
            transition: all 0.3s;
            &:hover {
              color: #000;
            }
          }
          &.prev {
            left: 15px;
          }
          &.next {
            right: 15px;
          }
        }
        .center-box {
          width: 100%;
          padding: 0 30px;
          .title {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
              font-family: $font2;
              font-size: 1.5rem;
              color: $primary-color;
            }
          }
          .content {
            width: 100%;
            height: calc(100% - 80px);
            .gap {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              transition: all 0.3s;
              background-color: #fff;
              .row1 {
                width: 100%;
                height: 96px;
                p {
                  width: 100%;
                  height: 100%;
                  font-size: 14px;
                  color: #23363f;
                  font-weight: 700;
                  line-height: 160%;
                  white-space: wrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .row2 {
                width: 100%;
                color: #999;
                padding-top: 10px;
                padding-bottom: 5px;
              }
              .row3 {
                width: 100%;
                color: #999;
                padding-bottom: 10px;
              }
              .row4 {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                em {
                  width: 75%;
                  color: #999;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                span {
                  text-align: right;
                  width: 25%;
                  button {
                    border: 0;
                    background: transparent;
                    transition: all 0.3s;
                    &:hover {
                      transform: scale(1.2);
                    }
                    i {
                      color: #e52023;
                      font-size: 18px;
                      cursor: pointer;
                    }
                  }

                  b {
                    margin-left: 5px;
                    color: #23363f;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
