@use "../../../../scss/variables" as *;
@use "../../../../scss/mixin" as *;
#sub09Cart {
  .inner {
    @include site();
    .body {
      margin-block: 50px;
      dl {
        @mixin percent() {
          text-align: center;
          &.col1 {
            width: 5%;
          }
          &.col2 {
            flex-grow: 1;
          }
          &.col3 {
            width: 10%;
          }
          &.col4 {
            width: 20%;
          }
          &.col5 {
            width: 20%;
          }
        }
        @mixin input() {
          input {
            appearance: none;
            outline: 1px solid #bbb;
            background: #fff;
            width: 20px;
            aspect-ratio: 1/1;
            &:checked {
              background: url(../../../../../../public/img/sub09cart/check.svg);
              background-size: 160%;
              background-position: center center;
            }
          }
        }
        > * {
          border-bottom: 1px solid #ccc;
        }
        dt {
          display: flex;
          background: $grey3;
          border-top: 1px solid $sub-color1;
          padding-block: 25px;
          font-size: 14px;
          font-weight: 600;
          .col {
            @include percent();
            &.col1 {
              @include input();
            }
            &.col2 {
            }
            &.col3 {
            }
            &.col4 {
            }
            &.col5 {
            }
            &.col6 {
            }
          }
        }
        dd {
          display: flex;
          align-items: center;
          padding-block: 20px;
          .col {
            @include percent();
            &.col1 {
              @include input();
            }
            &.col2 {
              display: flex;
              column-gap: 30px;
              .img-container {
                width: 150px;
                aspect-ratio: 1/1;
                background: #000;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .txt-container {
                text-align: justify;
                display: flex;
                padding-block: 15px;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                  font-size: 16px;
                  font-weight: 600;
                }
                .bottom {
                  @include box();
                  p {
                    margin-top: 5px;
                    font-size: 13px;
                    color: #747474;
                    font-weight: 600;
                  }
                }
              }
            }
            &.col3 {
              display: flex;
              justify-content: center;
              .container {
                border: 1px solid #ccc;
                > * {
                  width: 30px;
                  aspect-ratio: 1/1;
                  border: 0;
                  background: none;
                }
                input {
                  text-align: center;
                  &::-webkit-inner-spin-button {
                    appearance: none;
                  }
                  &::-webkit-outer-spin-button {
                    appearance: none;
                  }
                }
                button {
                  font-size: 10px;
                  background: #ededed;
                  color: #aaa;
                  &.active {
                    cursor: pointer;
                    color: $sub-color1;
                  }
                }
              }
            }
            &.col4 {
              font-size: 13px;
              font-weight: 600;
            }
            &.col5 {
              font-size: 18px;
              span {
                font-size: $size4;
                font-weight: 600;
              }
            }
          }
          &.sold-out {
            text-decoration: line-through;
            color: #747474;
          }
        }
      }
      .btn-box {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        button {
          border: 1px solid #bbb;
          padding: 10px 15px;
          color: #555;
          background: transparent;
          font-family: $font1;
          font-weight: 900;
          cursor: pointer;
        }
      }
    }
    .foot {
      display: flex;
      justify-content: center;
      margin-block: 100px;
      .container {
        button {
          color: #fff;
          border: 0;
          padding-block: 15px;
          width: 180px;
          font-size: 17px;
          font-family: $font1;
          font-weight: 600;
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
            background: $grey3;
          }
          &:last-child {
            background: $sub-color1;
          }
        }
      }
    }
  }
}
