#wrap #main .section:not(:first-child) {
  padding-top: 150px;
}
#wrap #main .inner {
  max-width: 1750px;
  margin: 0 auto;
}
@media all and (max-width: 1750px) {
  #wrap #main .inner {
    padding-inline: 5vw;
  }
}